.form-intervention-container {
    background-color: #f8f9fa; /* Fond très clair */
    padding: 2rem;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Ombre légère */
    max-width: 600px;
    margin: 0 auto;
    width: 100%; /* Largeur maximale disponible */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage vertical et horizontal */
}

.form-intervention-container h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #495057; /* Couleur du titre */
    margin-bottom: 1rem;
}

form .form-group {
    margin-bottom: 1.5rem; /* Espacement entre les champs */
}

form label {
    font-size: 1.1rem; /* Taille du texte du label */
    font-weight: bold;
    color: #6c757d; /* Gris doux */
    display: block; /* Empêcher le texte du label d'être sur la même ligne */
    margin-bottom: 0.5rem; /* Espacement sous le label */
}

form input.form-control,
form select.form-control {
    border-radius: 0.75rem; /* Coins arrondis */
    border: 1px solid #ced4da; /* Bordure grise claire */
    padding: 1rem; /* Plus d'espace intérieur */
    font-size: 1rem; /* Taille du texte plus grande */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%; /* S'assurer que le champ prend toute la largeur disponible */
}

form input.form-control:focus,
form select.form-control:focus {
    border-color: #68a4be; /* Bordure bleue au focus */
    box-shadow: 0 0 0 0.2rem rgba(128, 199, 161, 0.25); /* Ombre verte claire au focus */
    outline: none; /* Supprimer le contour par défaut */
}

form input[required],
form select[required] {
    border: 1px solid #68a4be; /* Bordure bleue claire pour les champs obligatoires */
}

form input:valid,
form select:valid {
    border-color: #ced4da; /* Bordure inchangée pour les champs valides */
}

form input:invalid,
form select:invalid {
    border-color: #559ab5; /* Bordure rouge clair pour les champs invalides */
}

form .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

form button {
    background-color: #71a8ba; /* Bleu clair */
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.75rem; /* Coins arrondis */
    font-size: 1rem;
    transition: background-color 0.3s;
    width: 48%; /* Largeur presque égale pour les deux boutons */
}

form button:hover {
    background-color: #538db4; /* Bleu légèrement plus foncé au survol */
}

form button[disabled] {
    background-color: #d6d8db; /* Couleur grise pour les boutons désactivés */
    cursor: not-allowed;
}

form .error-message {
    color: #71a8ba; /* Couleur pour les messages d'erreur */
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

/* Formulaire responsive */
@media (max-width: 767px) {
    .form-intervention-container {
        padding: 1.5rem; /* Réduire le padding sur les petits écrans */
    }

    form button {
        padding: 1rem; /* Adapter la taille du bouton sur mobile */
        width: 100%; /* Assurer que le bouton prend toute la largeur sur mobile */
        margin-bottom: 1rem;
    }

    form .form-actions {
        flex-direction: column; /* Centrer les boutons verticalement sur mobile */
    }
}
